@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        alert("hola");
        window.location.replace("http://costimporter.com/Acarreos/Inicio");
    </script>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
